@import "../../base";

.variety-workouts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--dumbbell {
    width: 123px;
    height: 86px;
    margin-bottom: 25px;
  }
}
