@import "../../base";

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $overlay;
  width: 100%;
  min-width: 330px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;

  &--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: $white;
    width: 768px;
    border-radius: 48px;
    height: 630px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &--navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 60px 30px;
    width: 100%;
  }

  &--text {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;

    @media (max-width: 500px) {
      font-size: 35px;
      margin-bottom: 20px;
    }
  }

  &--close {
    cursor: pointer;
  }
}
