@import "../../base";

.header {
  background: url("../../assets//images/header.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 980px;
  max-width: 1920px;
  margin: 0 auto;

  @media (max-width: 1640px) {
    background-position: right;
  }

  @media (max-width: 768px) {
    height: 800px;
  }

  @media (max-width: 500px) {
    height: 600px;
  }

  &--layer {
    display: flex;
    justify-content: center;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      131deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 251, 255, 1) 50%,
      rgba(34, 155, 248, 0) 100%
    );
  }

  &--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 1640px;

    @media (max-width: 1640px) {
      padding: 0 50px;
    }

    @media (max-width: 1400px) {
      align-items: center;
    }

    @media (max-width: 500px) {
      margin-top: 50px;
      padding: 0 20px;
    }
  }

  &--title {
    font-size: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-bottom: 16px;

    @media (max-width: 1400px) {
      text-align: center;
    }

    @media (max-width: 1000px) {
      font-size: 10vw;
      margin-bottom: 0;
    }

    @media (max-width: 550px) {
      font-size: 50px;
      line-height: 50px;
    }

    &-blue {
      color: $blue;
      margin-bottom: -32px;

      @media (max-width: 550px) {
        margin-bottom: 0;
      }
    }
  }

  &--subtitle {
    font-size: 50px;
    font-weight: 300;
    width: 70%;
    margin-bottom: 32px;
    text-align: left;

    @media (max-width: 1400px) {
      text-align: center;
    }

    @media (max-width: 1000px) {
      font-size: 3vw;
    }

    @media (max-width: 500px) {
      font-size: 16px;
      width: 100%;
    }
  }
}
