@import "../../base";

.footer {
  min-height: 250px;
  max-width: 1920px;
  margin: 0 auto;
  color: $white;
  background: rgb(29, 49, 208);
  background: linear-gradient(
    229deg,
    rgba(29, 49, 208, 1) 0%,
    rgba(34, 155, 248, 1) 100%
  );

  &--logo {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-bottom: 65px;
    cursor: pointer;

    img {
      margin-right: 20px;
    }

    &-bold {
      font-weight: 700;
    }

    @media (max-width: 1200px) {
      font-size: 30px;
      margin-bottom: 35px;
    }

    @media (max-width: 1000px) {
      font-size: 20px;
      margin-bottom: 25px;
    }
  }

  h3 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }

  &--content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
    font-size: 20px;
    @include container;

    @media (max-width: 1200px) {
      font-size: 16px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &--left {
    width: 40%;
    padding-right: 20px;

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  &--right {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media (max-width: 768px) {
      width: 100%;
    }

    &--links {
      width: 33%;
      margin-bottom: 20px;
    }

    li {
      list-style: none;
    }

    &--socials {
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
}
