@import "../../base";

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // width: 100%;
  max-width: 1640px;
  margin: auto;

  @media (max-width: 1640px) {
    margin: 0 50px;
  }

  @media (max-width: 500px) {
    margin: 0 20px;
  }

  h2 {
    margin-bottom: 50px;
  }

  &--posts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
