@import "../../base";

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include container;

  h2 {
    margin-bottom: 50px;
  }

  &--posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }
}
